
<div class="text-center">
    <h1 class="display-4"></h1>
    <p> This is my add user database table that is connected to my sql database and is published on azure.
    If you click on categories you will be able to add a user, type the firstname of user to get a category id
    then when you go to items type the same first name and enter the rest of the information to get a user that has a unique id assigned to them.
    Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
